* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* NAVBAR SECTION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* BODY */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #99b3b9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    height: 100%;
    margin: 12px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 20vh;
}

.main-container{
    height: 80vh;
}

/* CARD ARTICOLI */

.articles{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    background-color: rgb(200, 223, 223);
  }
  
  .card-content {
    width: 15vw;
    padding: 20px;
    margin: 20px;
    
  }
  
  .card-content h2 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #5a686b;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #7f9499;
  }

  /* ARTICLE SECTION */

.link-items{
    margin: 12px 0px;
}

  .article-section{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
  }

  /* CONTACT */
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5a686b;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7f9499;
}

.thank-you-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}